@charset "UTF-8";
header {
  -webkit-box-shadow: 0px 7px 9px 0px #c9c9c9;
  -moz-box-shadow: 0px 7px 9px 0px #c9c9c9;
  box-shadow: 0px 7px 9px 0px #c9c9c9;
  width: 100%;
  position: absolute;
  top: 0;
  background: #3498db;
  z-index: 7;
  color: #fff; }
  header .left_part_header {
    float: left; }
    header .left_part_header label {
      font-size: 24px;
      float: left;
      margin: 30px 50px 25px 30px; }
    header .left_part_header #menuToggle {
      display: none; }
    header .left_part_header .company_name {
      float: left;
      font-size: 30px;
      margin: 25px 0px 20px 0px;
      color: #fff;
      font-weight: 100; }
      header .left_part_header .company_name a, header .left_part_header .company_name:hover, header .left_part_header .company_name:active {
        color: #fff !important;
        text-decoration: none; }
  header .right_part_header {
    font-size: 14px;
    font-style: normal !important;
    font-weight: 500 !important;
    float: right; }
    header .right_part_header a {
      color: #fff; }
      header .right_part_header a:hover {
        text-decoration: underline;
        color: #fff; }
    header .right_part_header .fa-external-link {
      font-size: 24px;
      margin: 16px 20px 0px 0px;
      float: left; }
    header .right_part_header .go_to {
      margin: 10px 30px 0px 0px;
      float: left; }
    header .right_part_header .fa-user {
      font-size: 24px;
      margin: 14px 20px 0px 0px;
      float: left; }
    header .right_part_header .hi {
      margin: 11px 10px 0px 0px;
      float: left;
      position: relative; }
      header .right_part_header .hi .to_log_out {
        z-index: 20;
        position: absolute;
        top: 44px;
        left: -84px;
        background: #fff;
        width: 280px;
        height: 55px;
        border: 1px solid #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 7px 9px 0px #c9c9c9;
        -moz-box-shadow: 0px 7px 9px 0px #c9c9c9;
        box-shadow: 0px 7px 9px 0px #c9c9c9; }
        header .right_part_header .hi .to_log_out:after {
          content: "";
          position: absolute;
          top: -8px;
          right: 130px;
          background: #fff;
          width: 20px;
          height: 20px;
          -moz-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Firefox */
          -ms-transform: rotate(45deg);
          /* ╨Ф╨╗╤П IE */
          -webkit-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Safari, Chrome, iOS */
          -o-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Opera */
          transform: rotate(45deg); }
        header .right_part_header .hi .to_log_out .fa-sign-out {
          color: #666;
          float: left;
          font-size: 23px;
          margin: 12px 18px 3px 48px; }
        header .right_part_header .hi .to_log_out .log_out {
          color: #666;
          float: left;
          margin-top: 15px; }
      header .right_part_header .hi .fa-caret-down {
        margin: 2px 30px 0px 10px;
        position: relative;
        bottom: 4px;
        font-size: 24px;
        float: right; }
      header .right_part_header .hi .menu-icon {
        padding: 31px 40px 15px 25px;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        float: left; }

.mdl-layout__header {
  background: #3498db;
  position: static !important; }

.mdl-layout__header,
.mdl-layout__drawer-button {
  z-index: 15; }

.mdl-layout__drawer-button {
  margin: 10px 17px; }

.mdl-layout__container {
  position: static; }

footer {
  background: #7f8c8d;
  height: 50px;
  text-align: center;
  clear: both; }
  footer a {
    color: #fff	!important;
    font-size: 15px;
    text-decoration: none;
    line-height: 50px; }
    footer a .bzzz_logo {
      position: relative;
      top: -2px;
      left: 5px;
      width: 56px; }

.mdl-layout__drawer {
  width: 297px; }
  .mdl-layout__drawer a:hover {
    background: #ecf0f1;
    text-decoration: none; }

.mdl-layout__drawer {
  transform: translateX(-300px); }

.mdl-navigation {
  padding-top: 0 !important; }

nav a {
  display: block;
  padding: 5px 0px; }
  nav a:hover {
    text-decoration: underline; }

.admin_menu {
  padding-top: 65px;
  background: #fff; }
  .admin_menu .underlined_li {
    border-bottom: 2px solid #e6e6e6; }
  .admin_menu li {
    clear: both; }
    .admin_menu li:nth-child(7) {
      position: relative;
      right: 11px; }
      .admin_menu li:nth-child(7) img {
        margin-right: 18px; }
  .admin_menu .first_li {
    margin-top: 20px; }
  .admin_menu .nav_line1, .admin_menu .nav_line2 {
    color: #e6e6e6;
    background-color: #e6e6e6;
    height: 2px;
    width: 250px;
    margin: 0px 0px 0px 24px; }
  .admin_menu .nav_line2 {
    height: 1px; }
  .admin_menu a {
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: #686868 !important;
    padding: 15px 30px; }
    .admin_menu a:active, .admin_menu a:visited, .admin_menu a:focus {
      text-decoration: none; }
  .admin_menu .nav_picture {
    width: 25px;
    margin-right: 25px;
    position: relative; }
  .admin_menu .nav_picture_manuf {
    width: 43px; }
  .admin_menu .nav_picture_news {
    top: -1px; }
  .admin_menu .nav_picture_subcat {
    top: -1px; }
  .admin_menu .nav_picture_catalog {
    top: 9px; }

.active {
  background: #ecf0f1; }

.nav_top_padding {
  padding-top: 10px; }

.nav_bottom_padding {
  padding-bottom: 10px; }

.two_lines_li {
  border-bottom: 2px solid #e6e6e6;
  border-top: 2px solid #e6e6e6; }

main {
  width: 100%;
  background: #ecf0f1;
  z-index: -3; }
  main .all_elements_inner {
    padding-top: 75px;
    min-width: 1024px;
    max-width: 1280px;
    display: table;
    margin: auto; }
    main .all_elements_inner .button {
      background: #3498db;
      color: #fff;
      border: 1px solid #3498db;
      border-radius: 4px;
      padding: 12px 20px;
      text-align: center;
      font-size: 17px;
      display: table;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      outline: none;
      cursor: pointer;
      text-decoration: none; }
      main .all_elements_inner .button:hover {
        background: #79aee8;
        border: 1px solid #79aee8;
        text-decoration: none; }
      main .all_elements_inner .button:active {
        background: #2980b9;
        border: 1px solid #2980b9; }
    main .all_elements_inner .row {
      margin-bottom: 50px; }

.tools_block {
  margin-bottom: 50px; }

.index_inner {
  padding-top: 75px;
  display: table;
  margin: auto; }
  .index_inner .select_category {
    margin-bottom: 20px; }
    .index_inner .select_category .category_wrap {
      width: 95%;
      border: 1px solid #fff;
      border-radius: 5px;
      background: #fff;
      display: table;
      margin: auto; }
      .index_inner .select_category .category_wrap .img_div {
        width: 100px;
        margin: auto;
        margin-top: 25px; }
      .index_inner .select_category .category_wrap p {
        height: 40px;
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
        font-weight: bold; }
  .index_inner .first_category {
    margin-left: 30px; }
  .index_inner .support {
    background: #ecf0f1; }
    .index_inner .support .support_img_div {
      width: 130px;
      height: 130px;
      border: 1px solid #fff;
      border-radius: 50%;
      background: #fff;
      margin: auto; }
      .index_inner .support .support_img_div .support_img {
        margin-left: 24px;
        margin-top: 22px;
        width: 80px;
        height: 80px; }
      .index_inner .support .support_img_div .support_first_img {
        margin-left: 26px;
        margin-top: 23px;
        height: 75px;
        width: 77px; }
    .index_inner .support .support_text {
      text-align: center;
      font-size: 16px;
      width: 200px;
      color: #3d4a5d;
      margin: auto;
      line-height: 22px;
      font-weight: bold; }

.support_block {
  margin-bottom: 130px; }

.but_support {
  width: 190px;
  margin-bottom: 10px; }

.but_category {
  width: 80%; }

.right_part_main {
  float: left;
  width: 100%; }

.admin_inputs input {
  float: left;
  border-radius: 6px;
  padding: 10px 0px 7px 10px;
  font-size: 14px;
  outline: none;
  margin-bottom: 20px; }
.admin_inputs .admin_active_input {
  border: 2px solid #d5d9db;
  background: #f6f8f8;
  color: #3d4a5d; }
  .admin_inputs .admin_active_input:focus {
    border: 2px solid #3498db;
    background: #fff;
    color: #3d4a5d; }
    .admin_inputs .admin_active_input:focus::-webkit-input-placeholder {
      color: #3d4a5d; }
    .admin_inputs .admin_active_input:focus:-moz-placeholder {
      /* Firefox 18- */
      color: #3d4a5d; }
    .admin_inputs .admin_active_input:focus::-moz-placeholder {
      /* Firefox 19+ */
      color: #3d4a5d; }
    .admin_inputs .admin_active_input:focus:-ms-input-placeholder {
      color: #3d4a5d; }
  .admin_inputs .admin_active_input:disabled {
    border: 2px solid #d7dbdd;
    background: #d7dbdd; }
.admin_inputs .admin_alert_input {
  border: 2px solid #e74c3c;
  background: #fff; }
  .admin_inputs .admin_alert_input::-webkit-input-placeholder {
    color: #e74c3c; }
  .admin_inputs .admin_alert_input:-moz-placeholder {
    /* Firefox 18- */
    color: #e74c3c; }
  .admin_inputs .admin_alert_input::-moz-placeholder {
    /* Firefox 19+ */
    color: #e74c3c; }
  .admin_inputs .admin_alert_input:-ms-input-placeholder {
    color: #e74c3c; }
  .admin_inputs .admin_alert_input:focus {
    border: 2px solid #e74c3c;
    color: #3d4a5d; }

.progress {
  display: inline-block;
  margin: 10px 0px 50px 0px;
  border-radius: 10px;
  width: 220px;
  height: 12px;
  background-color: #d7dbdd; }
  .progress .progress-bar {
    width: 60%;
    background-color: #3498db; }

.ui-corner-all {
  border-radius: 10px; }

#slider-range-min {
  margin: 10px 0px 0px 10px;
  background-color: #d7dbdd;
  width: 220px;
  height: 12px;
  margin-bottom: 20px; }

.ui-widget-header {
  border: 6px solid #3498db !important;
  background: #3498db; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #2980b9;
  background: #2980b9;
  outline: none;
  width: 18px;
  height: 18px; }

.ui-widget-content {
  border: 1px solid #d7dbdd;
  background: #d7dbdd; }

.ui-slider-horizontal .ui-slider-handle {
  top: -14px;
  position: relative;
  border: 15px solid #2980b9; }

.admin_navigation {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none; }
  .admin_navigation a {
    text-decoration: none; }
  .admin_navigation .navig_title {
    margin-left: 30px; }
  .admin_navigation .admin_display_types {
    margin-bottom: 30px;
    display: inline-block;
    float: left;
    position: relative; }
    .admin_navigation .admin_display_types button {
      background: #3498db;
      border: 1px solid #3498db;
      width: 45px;
      height: 40px;
      outline: none;
      font-size: 17px;
      color: #fff; }
      .admin_navigation .admin_display_types button:hover {
        background: #2980b9;
        border: 1px solid #2980b9; }
    .admin_navigation .admin_display_types .first_type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative; }
    .admin_navigation .admin_display_types .second_type {
      position: relative;
      right: 4px; }
    .admin_navigation .admin_display_types .third_type {
      background: #3498db url("../image/display_type.png") no-repeat center center;
      position: absolute;
      right: -41px;
      bottom: 0px; }
      .admin_navigation .admin_display_types .third_type:hover {
        background: #2980b9 url("../image/display_type.png") no-repeat center center; }
      .admin_navigation .admin_display_types .third_type .third_type_img {
        width: 22px;
        height: 20px;
        position: relative;
        top: 1px; }
    .admin_navigation .admin_display_types .fourth_type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      position: absolute;
      right: -86px;
      bottom: 0px; }
  .admin_navigation .admin_all_messages {
    display: inline-block;
    float: left; }
    .admin_navigation .admin_all_messages div {
      display: inline-block;
      float: left;
      background: #3498db;
      border: 1px solid #3498db;
      color: #fff;
      font-size: 16px;
      height: 40px; }
    .admin_navigation .admin_all_messages .fa-caret-left, .admin_navigation .admin_all_messages .fa-caret-right {
      font-size: 28px;
      line-height: 36px; }
    .admin_navigation .admin_all_messages .fa-caret-left {
      padding-left: 15px; }
    .admin_navigation .admin_all_messages .fa-caret-right {
      padding-left: 17px; }
    .admin_navigation .admin_all_messages .prev_page {
      width: 45px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 1px solid #2980b9; }
      .admin_navigation .admin_all_messages .prev_page:hover {
        background: #2980b9;
        border: 1px solid #2980b9; }
    .admin_navigation .admin_all_messages .text_all_messages span {
      line-height: 33px;
      margin: 0px 20px; }
    .admin_navigation .admin_all_messages .next_page {
      width: 45px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 1px solid #2980b9; }
      .admin_navigation .admin_all_messages .next_page:hover {
        background: #2980b9;
        border: 1px solid #2980b9; }
  .admin_navigation .pagination {
    padding-top: 10px;
    margin: 29px 0 0 0;
    display: inline-block;
    background-color: #d7dbdd; }
    .admin_navigation .pagination li {
      margin-top: 10px; }
      .admin_navigation .pagination li:first-child a, .admin_navigation .pagination li:last-child a {
        border-radius: 0px !important;
        padding: 0px 15px; }
        .admin_navigation .pagination li:first-child a:hover, .admin_navigation .pagination li:first-child a:focus, .admin_navigation .pagination li:last-child a:hover, .admin_navigation .pagination li:last-child a:focus {
          background: transparent;
          padding: 0px 15px;
          bottom: 0; }
      .admin_navigation .pagination li a {
        color: #d7dbdd;
        border-radius: 50%;
        padding: 0px 6px;
        font-size: 12px;
        margin: 0px 5px; }
        .admin_navigation .pagination li a:hover, .admin_navigation .pagination li a:focus {
          color: #fff;
          background: #3498db; }
    .admin_navigation .pagination .prev, .admin_navigation .pagination .next {
      background: #d7dbdd; }
      .admin_navigation .pagination .prev:hover, .admin_navigation .pagination .next:hover {
        background: #3498db; }
    .admin_navigation .pagination .fa-caret-right,
    .admin_navigation .pagination .fa-caret-left {
      color: #fff;
      font-size: 28px;
      position: relative;
      bottom: 5px; }
      .admin_navigation .pagination .fa-caret-right:hover, .admin_navigation .pagination .fa-caret-right:focus,
      .admin_navigation .pagination .fa-caret-left:hover,
      .admin_navigation .pagination .fa-caret-left:focus {
        color: #3498db; }

.radio_block,
.checkbox_block {
  width: 200px;
  margin-right: 30px;
  float: left; }

.checkbox_block label,
.radio_block label {
  margin-bottom: 12px; }

.radio_block label {
  display: block; }

.mdl-radio {
  font-size: 14px;
  color: #666; }

.mdl-checkbox__box-outline {
  /*background: $progress_bar_backgr;*/
  border: 2px solid #d7dbdd;
  width: 20px;
  height: 20px;
  border-radius: 5px; }

.mdl-radio__outer-circle {
  width: 18px;
  height: 18px;
  border: 3px solid #2196f3 !important; }

.mdl-radio__inner-circle {
  top: 10px;
  left: 6px;
  width: 6px;
  height: 6px;
  background: #3498db; }

.checkboxes_block {
  width: 130px;
  display: inline-block;
  overflow: hidden;
  font-size: 16px !important; }
  .checkboxes_block input[type="checkbox"] {
    display: none; }
    .checkboxes_block input[type="checkbox"] + label {
      display: block;
      margin-bottom: 20px;
      cursor: pointer;
      border-radius: 5px;
      position: relative;
      color: #666;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: #d7dbdd; }
      .checkboxes_block input[type="checkbox"] + label:before {
        position: absolute;
        top: 5px;
        left: 4px;
        content: "a";
        color: transparent;
        width: 11px;
        height: 7px;
        -moz-transform: rotate(-45deg);
        /* ╨Ф╨╗╤П Firefox */
        -ms-transform: rotate(-45deg);
        /* ╨Ф╨╗╤П IE */
        -webkit-transform: rotate(-45deg);
        /* ╨Ф╨╗╤П Safari, Chrome, iOS */
        -o-transform: rotate(-45deg);
        /* ╨Ф╨╗╤П Opera */
        transform: rotate(-45deg); }
      .checkboxes_block input[type="checkbox"] + label:hover::before {
        border-left: 2px solid rgba(255, 255, 255, 0.5);
        border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
      .checkboxes_block input[type="checkbox"] + label p {
        margin-left: 34px; }
    .checkboxes_block input[type="checkbox"]:checked + label {
      background: #3498db; }
      .checkboxes_block input[type="checkbox"]:checked + label:before {
        border-left: 2px solid white;
        border-bottom: 2px solid white; }
  .checkboxes_block input[type=checkbox][disabled] + label:hover::before {
    border: 1px solid transparent; }

.switch {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none; }
  .switch .navig_title {
    margin-left: 0px; }
  .switch .admin_round_onoffswitch, .switch .admin_square_onoffswitch {
    float: left;
    position: relative;
    width: 80px; }
  .switch .onoffswitch-checkbox {
    display: none; }
  .switch .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #bdc2c5;
    border-radius: 18px; }
  .switch .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s; }
  .switch .onoffswitch-inner:before, .switch .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 28px;
    padding: 0;
    line-height: 28px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    box-sizing: border-box; }
  .switch .onoffswitch-inner:before {
    content: "ON";
    padding-left: 17px;
    background-color: #bdc2c5;
    color: #3498db; }
  .switch .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #bdc2c5;
    color: #fff;
    text-align: right; }
  .switch .onoffswitch-switch {
    display: block;
    width: 28px;
    margin: 2px;
    background: #7f8c8d;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 48px;
    border: 2px solid #bdc2c5;
    border-radius: 18px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s; }
  .switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0; }
  .switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #3498db; }

.admin_square_onoffswitch {
  margin-left: 20px; }
  .admin_square_onoffswitch .onoffswitch-inner:before {
    content: url(../image/checked.png); }
  .admin_square_onoffswitch .onoffswitch-inner:after {
    content: url(../image/unchecked.png); }
  .admin_square_onoffswitch .onoffswitch-switch {
    padding: 0px;
    margin: 0px;
    height: 100%;
    border-radius: 6px 0px 0px 6px;
    left: -3px;
    width: 32px;
    border: 1px solid #bdc2c5 !important; }
  .admin_square_onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    padding: 0px;
    margin: 0px;
    height: 100%;
    left: 44px;
    right: 0px;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #3498db; }
  .admin_square_onoffswitch .onoffswitch-label {
    border-radius: 6px;
    width: 78px;
    position: absolute; }

.admin_tooltips {
  float: left;
  clear: both; }
  .admin_tooltips .navig_title {
    margin: 0px 0px 35px 0px;
    display: inline-block;
    float: left; }
  .admin_tooltips .admin_tooltip1 {
    clear: both;
    width: 205px;
    background: #7f8c8d;
    border: 1px solid #7f8c8d;
    border-radius: 7px;
    position: relative;
    display: inline-block;
    float: left; }
    .admin_tooltips .admin_tooltip1:after {
      content: "";
      position: absolute;
      left: 46%;
      top: -9px;
      width: 16px;
      height: 16px;
      -moz-transform: rotate(45deg);
      /* ╨Ф╨╗╤П Firefox */
      -ms-transform: rotate(45deg);
      /* ╨Ф╨╗╤П IE */
      -webkit-transform: rotate(45deg);
      /* ╨Ф╨╗╤П Safari, Chrome, iOS */
      -o-transform: rotate(45deg);
      /* ╨Ф╨╗╤П Opera */
      transform: rotate(45deg);
      background: #7f8c8d; }
    .admin_tooltips .admin_tooltip1 .text {
      font-size: 13px;
      color: #ecf0f1;
      margin: 14px 12px;
      text-align: center;
      line-height: 18px; }
  .admin_tooltips .admin_tooltip2 {
    clear: both;
    display: block;
    width: 205px;
    background: #7f8c8d;
    border: 1px solid #7f8c8d;
    border-radius: 7px;
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 30px; }
    .admin_tooltips .admin_tooltip2:after {
      content: "";
      position: absolute;
      left: 46%;
      top: 74px;
      width: 16px;
      height: 16px;
      -moz-transform: rotate(45deg);
      /* ╨Ф╨╗╤П Firefox */
      -ms-transform: rotate(45deg);
      /* ╨Ф╨╗╤П IE */
      -webkit-transform: rotate(45deg);
      /* ╨Ф╨╗╤П Safari, Chrome, iOS */
      -o-transform: rotate(45deg);
      /* ╨Ф╨╗╤П Opera */
      transform: rotate(45deg);
      background: #7f8c8d; }
    .admin_tooltips .admin_tooltip2 .text {
      font-size: 13px;
      color: #ecf0f1;
      margin: 14px 12px;
      text-align: center;
      line-height: 18px; }

.admin_text_boxes {
  float: left; }
  .admin_text_boxes .navig_title {
    margin-left: 0; }
  .admin_text_boxes .text_box {
    width: 285px;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    text-align: left; }
    .admin_text_boxes .text_box a, .admin_text_boxes .text_box a:hover, .admin_text_boxes .text_box a:focus, .admin_text_boxes .text_box a:active {
      color: #3498db;
      text-decoration: underline; }
    .admin_text_boxes .text_box p {
      margin-bottom: 5px; }

h1 {
  color: #666;
  font-size: 32px;
  margin: 40px 0px;
  font-weight: 100; }

h2 {
  color: #666;
  font-size: 26px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500; }

h3 {
  color: #666;
  font-size: 24px;
  font-weight: bold; }

h4 {
  color: #666;
  font-size: 18px;
  font-weight: bold; }

h5 {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase; }

.header_with_left_margin {
  margin-left: 30px; }

.headers {
  float: left; }
  .headers h1 {
    margin: 30px 0px 20px 0px; }
  .headers h2 {
    margin-bottom: 20px; }
  .headers h3, .headers h4 {
    margin-bottom: 18px; }

.h1_on_index_page {
  margin-left: 30px; }

.arrow {
  opacity: 0;
  clear: both;
  -webkit-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s; }
  .arrow a {
    color: #fff; }
  .arrow .back-to-top {
    position: fixed;
    bottom: 50%;
    left: 93%;
    width: 50px;
    height: 50px;
    right: 0;
    background: #fff;
    border: 3px solid #3498db;
    border-radius: 100%;
    z-index: 100; }
    .arrow .back-to-top:hover {
      background: #3498db; }
    .arrow .back-to-top:hover .fa-angle-up {
      color: #fff; }
    .arrow .back-to-top .fa-angle-up {
      position: relative;
      right: -14px;
      top: 8px;
      color: #3498db;
      font-size: 24px; }

.popup_backgr {
  width: 100%;
  height: 100%;
  background: #3498db;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; }
  .popup_backgr .popup_wrap {
    width: 1200px;
    margin: auto; }
    .popup_backgr .popup_wrap .popup_inner {
      margin: 200px 300px;
      display: inline-block; }
      .popup_backgr .popup_wrap .popup_inner .popup_logo {
        width: 170px;
        float: left; }
        .popup_backgr .popup_wrap .popup_inner .popup_logo .popup_logo_img {
          width: 132px;
          position: relative;
          bottom: 19px;
          right: 23px;
          margin: 0px 0px 5px 65px; }
        .popup_backgr .popup_wrap .popup_inner .popup_logo p {
          width: 165px;
          color: #fff;
          font-size: 18px;
          text-align: right;
          line-height: 22px;
          position: relative;
          bottom: 22px; }
      .popup_backgr .popup_wrap .popup_inner .popup_registr {
        width: 360px;
        margin-left: 50px;
        float: left;
        background: #edf0f1;
        border-radius: 7px;
        position: relative; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr::-webkit-input-placeholder {
          color: #3d4a5d; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr:-moz-placeholder {
          /* Firefox 18- */
          color: #3d4a5d; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr::-moz-placeholder {
          /* Firefox 19+ */
          color: #3d4a5d; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr:-ms-input-placeholder {
          color: #3d4a5d; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr .registr_arrow {
          width: 20px;
          height: 20px;
          position: absolute;
          background: #edf0f1;
          top: 35px;
          left: -9px;
          -moz-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Firefox */
          -ms-transform: rotate(45deg);
          /* ╨Ф╨╗╤П IE */
          -webkit-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Safari, Chrome, iOS */
          -o-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Opera */
          transform: rotate(45deg); }
        .popup_backgr .popup_wrap .popup_inner .popup_registr .close {
          text-align: right;
          color: #c2c5ca;
          padding: 7px; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr #input_login {
          margin-top: 25px; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr .img_login1 {
          position: absolute;
          right: 35px;
          top: 33px; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr .img_login2 {
          display: none;
          position: absolute;
          right: 35px;
          top: 33px; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr .fa-lock {
          position: absolute;
          right: 38px;
          top: 98px;
          color: #c2c5ca; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr input {
          width: 310px;
          height: 40px;
          border-radius: 6px;
          background: #fff;
          border: 2px solid #fff;
          text-indent: 15px;
          display: table;
          margin: auto;
          margin-bottom: 20px;
          outline: none; }
          .popup_backgr .popup_wrap .popup_inner .popup_registr input:focus {
            border: 2px solid #3498db; }
          .popup_backgr .popup_wrap .popup_inner .popup_registr input:focus + .fa-lock {
            color: #579ae2; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr button {
          background: #3498db;
          color: #fff;
          border: 1px solid #3498db;
          border-radius: 4px;
          padding: 12px 20px;
          text-align: center;
          font-size: 17px;
          display: table;
          margin: auto;
          margin-top: 20px;
          margin-bottom: 20px;
          outline: none;
          cursor: pointer;
          text-decoration: none;
          width: 310px;
          margin: auto;
          margin-bottom: 15px;
          display: block; }
          .popup_backgr .popup_wrap .popup_inner .popup_registr button:hover {
            background: #79aee8;
            border: 1px solid #79aee8;
            text-decoration: none; }
          .popup_backgr .popup_wrap .popup_inner .popup_registr button:active {
            background: #2980b9;
            border: 1px solid #2980b9; }
        .popup_backgr .popup_wrap .popup_inner .popup_registr p {
          text-align: center;
          margin-bottom: 20px; }
          .popup_backgr .popup_wrap .popup_inner .popup_registr p a {
            color: #c2c5ca;
            font-size: 13px;
            text-decoration: underline; }
            .popup_backgr .popup_wrap .popup_inner .popup_registr p a:hover {
              color: #8d8f93; }

body {
  z-index: 3;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden; }

.dropdown-menu li a {
  padding: 0; }

a:visited, a:hover {
  text-decoration: none;
  color: #fff; }

.col-lg-4, .col-lg-3 {
  padding-left: 0px; }

.button {
  background: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  border-radius: 4px;
  padding: 12px 20px;
  text-align: center;
  font-size: 17px;
  display: table;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  text-decoration: none; }
  .button:hover {
    background: #79aee8;
    border: 1px solid #79aee8;
    text-decoration: none; }
  .button:active {
    background: #2980b9;
    border: 1px solid #2980b9; }

main {
  width: 100%;
  background: #ecf0f1; }

.tools_block {
  margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
