@import "mixins/box_shadow";
@import "mixins/transition";
@import "mixins/button";
@import "mixins/rotate";
@import "mixins/tooltip";
@import "mixins/input_placeholder";
@import "mixins/border_radius";
@import "mixins/user_select";

@import "partials/variables";
@import "partials/header";
@import "partials/drawer";
@import "partials/index";
@import "partials/popup_page";
@import "partials/footer";
@import "partials/scroll_arrow";
@import "partials/helpers";

body {
	font-family: Roboto;
} 
.button {
	@include button();
}
.content {
	width: 100%;
	display: block;
	min-height: 500px;
	height: 100%;
	position: relative;
    background: $background_color;
}
.container {
	padding-left: 315px;
	@include transition (padding, 0.5s, ease-out, 0s);
}
ul {
	li {
		list-style-type: none;
	}
}
.tools_block {
	margin-bottom: 50px;
}
@media screen and (min-width: 1260px) {
  	.container {
    	width: 1280px;
  	}
  	.col-lg-3 {
  		padding-right: 5px;
  		padding-left: 5px;
  	}
}