@import "mixins/box_shadow";
@import "mixins/transition";
@import "mixins/button";
@import "mixins/rotate";
@import "mixins/tooltip";
@import "mixins/input_placeholder";
@import "mixins/border_radius";
@import "mixins/user_select";

@import "partials/variables";
@import "partials/header";
@import "partials/footer";
@import "partials/drawer";
@import "partials/all_elements";
@import "partials/index_inner";
@import "partials/inputs";
@import "partials/progress_bar";
@import "partials/slider";
@import "partials/navigation";
@import "partials/checkbox_radio";
@import "partials/switch";
@import "partials/tooltips";
@import "partials/text_box";
@import "partials/headers";
@import "partials/scroll_arrow";
@import "partials/popup";

body {
	z-index: 3;
    font-family: $font;
    position: relative;
    overflow-x: hidden;
}
.dropdown-menu {
	li {
		a {
			padding: 0;
		}
	}
}
a {
 	&:visited,
 	&:hover {
	text-decoration: none;
	color: $header_and_buttons_text;
	}
}
.col-lg-4, .col-lg-3 {
	padding-left: 0px;
}
.button {
	@include button();
}
main {
	width: 100%;
	background: $background_color;
}
.tools_block {
	margin-bottom: 50px;
}






