.all_elements_inner {
	padding-top: 100px;
	color: $main_part_title;
	width: 1300px;
	margin: auto;
	.row {
		margin-bottom: 50px;
	}
	.button {
		@include button();
		margin: 0px 0px 100px 0px;
		width: 230px;
	}
}