main {
	width: 100%;
	background: $background_color;
	z-index: -3;
	position: absolute;
	margin-top: 75px;
	.all_elements_inner {
		color: $main_part_title;
		width: 1200px;
		margin: auto;
		.button {
			@include button();
			margin: 0px 30px;
		}
	}
}		
