footer {
	z-index: 15;
	background: $footer;
	height: 50px;
	text-align: center;
	clear: both;
	a {
		color: #fff	!important;
		font-size: 15px;
		text-decoration: none !important;
		line-height: 50px;
		.bzzz_logo {
			position: relative;
			top: -2px;
			left: 5px;
			width: 56px;
		}
	}
}
