.admin_inputs {
    input {
        float: left;
        border-radius: 6px;
        padding: 10px 0px 7px 10px;
        font-size: 14px;
        outline: none;
        margin-bottom: 20px;
    }
    .admin_active_input {
        border: 2px solid #d5d9db;
        background: #f6f8f8;
        color: $to_add_item_text;
        &:focus {
            @include input_placeholder(#3d4a5d);
            border: 2px solid #3498db;
            background: #fff;
            color: #3d4a5d;
        }
        &:disabled {
            border: 2px solid $progress_bar_backgr;
            background: $progress_bar_backgr;
        }
    }
    .admin_alert_input {
        border: 2px solid $alert_input_color;
        background: #fff;
        @include input_placeholder ($alert_input_color);
        &:focus {
            border: 2px solid $alert_input_color;
            color: #3d4a5d;
        }
    }
}
