main {
	width: 100%;
	background: $background_color;
	z-index: -3;
	.main_inner {
		width: 1200px;
		margin: auto;
		.select_category {
			margin-left: 15px;
			display: inline-block;
			width: 250px;
			height: 250px;
			border: 1px solid $header_and_buttons_text;
			border-radius: 5px;
			background: $header_and_buttons_text;
			.img_div {
				width: 100px;
				margin: auto;
				margin-top: 25px;
			}
			p {
				text-align: center;
				font-size: 20px;
				margin-top: 30px;
				font-weight: bold;
			}
			.but_div {
				margin: auto;
				width: 200px;
			}
		}
		.first_category {
			margin-left: 30px;
		}
		.support {
			margin: 10px 0px 100px 195px;
			display: inline-block;
			background: $background_color;
			width: 220px;
			.support_img_div {
				width: 130px;
				height: 130px;
				border: 1px solid $header_and_buttons_text;
				border-radius: 50%;
				background: $header_and_buttons_text;
				margin: auto;
				margin-bottom: 25px;
				.support_img {
					margin-left: 24px;
					margin-top: 22px;
					width: 80px;
					height: 80px;
				}
			}
			.but_div {
				margin: auto;
				width: 200px;
				.button {
					@include button();
				}
			}
			.support_text {
				text-align: center;
				font-size: 16px;
				width: 200px;
				color: $to_add_item_text;
				margin: auto;
				line-height: 22px;
				font-weight: bold;
				margin-bottom: 15px;
			}
		}
		.first_support {
			margin-left: 30px;
		}
	}
}

