.admin_navigation {  
    @include user_select();              
    a {
        text-decoration: none;
    }
    .navig_title {
        margin-left: 30px;
    }
    .admin_display_types {
        margin-bottom: 30px;
        display: inline-block;
        float: left;
        position: relative;
        button {
            background: $main_color;
            border: 1px solid $main_color;
            width: 45px;
            height: 40px;
            outline: none;
            font-size: 17px;
            color: $header_and_buttons_text;
            &:hover {
                background: $more_dark_main_color;
                border: 1px solid $more_dark_main_color;
            }
        } 
        .first_type {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px; 
            position: relative;
        }
        .second_type {
            position: relative;
            right: 4px;
        }
        .third_type {
            background: $main_color url('../image/display_type.png') no-repeat center center;
            position: absolute;
            right: -41px;
            bottom: 0px;
            &:hover {
                background: $more_dark_main_color url('../image/display_type.png') no-repeat center center;
            }
            .third_type_img {
                width: 22px;
                height: 20px;
                position: relative;
                top: 1px;
            }
        }
        .fourth_type {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position: absolute;
            right: -86px;
            bottom: 0px;
        }
    }
    .admin_all_messages {
        display: inline-block;
        float: left;
        div {
            display: inline-block;
            float: left;
            background: $main_color;
            border: 1px solid $main_color;
            color: $header_and_buttons_text;
            font-size: 16px;
            height: 40px;
        }
        .fa-caret-left, .fa-caret-right {
            font-size: 28px;
            line-height: 36px;
        }
        .fa-caret-left {
            padding-left: 15px; 
        }
        .fa-caret-right {
            padding-left: 17px;
        }
        .prev_page {
            width: 45px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 1px solid $more_dark_main_color; 
            &:hover {
                background: $more_dark_main_color;
                border: 1px solid $more_dark_main_color;
            }
        }
        .text_all_messages {
            span {
                line-height: 33px;
                margin: 0px 20px;
            }
        }
        .next_page {
            width: 45px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: 1px solid $more_dark_main_color; 
            &:hover {
                background: $more_dark_main_color;
                border: 1px solid $more_dark_main_color;
            }   
        }
    }
    .pagination {
        padding-top: 10px;
        margin: 29px 0 0 0;
        display: inline-block;
        background-color: #d7dbdd;
        li {
            margin-top: 10px;
            &:first-child,
            &:last-child {
                a {
                    border-radius: 0px !important;
                    padding: 0px 15px;
                    &:hover,
                    &:focus {
                        background: transparent;
                        padding: 0px 15px;
                        bottom: 0;
                    }
                }
            }
            a {
                color: #d7dbdd;
                font-size: 12px;
                margin: 0px 5px;
                &:hover,
                &:focus {
                    color: #fff;
                    background: $main_color;
                    padding: 1px 15px;
                }
            }
        }
        .prev, .next {
            background: $progress_bar_backgr;
            &:hover {
                background: $main_color;
            }
        }
        .fa-caret-right,
        .fa-caret-left {
            color: #fff;
            font-size: 28px;
            position: relative;
            bottom: 5px;
            &:hover,
            &:focus {
                color: $main_color;
            }
        }
    }
}
.page {
    border-radius: 50%;
    padding: 0px 6px !important;
    &:hover,
    &:focus {
        padding: 1px 6px !important;
        position: relative;
        bottom: 1px;
    }
}
.page_2_numbers {
    border-radius: 30px;
    padding: 1px 6px !important;
}