.admin_navigation {  
    @include user_select();              
    a {
        text-decoration: none;
    }
    .navig_title {
        margin-left: 30px;
    }
    .admin_display_types {
        display: inline-block;
        float: left;
        position: relative;
        button {
            background: $main_color;
            border: 1px solid $main_color;
            width: 45px;
            height: 40px;
            outline: none;
            font-size: 17px;
            color: $header_and_buttons_text;
            &:hover {
                background: $more_dark_main_color;
                border: 1px solid $more_dark_main_color;
            }
        } 
        .first_type {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px; 
            position: relative;
        }
        .second_type {
            position: relative;
            right: 4px;
        }
        .third_type {
            background: $main_color url('../image/display_type.png') no-repeat center center;
            position: absolute;
            right: -41px;
            bottom: 0px;
            &:hover {
                background: $more_dark_main_color url('../image/display_type.png') no-repeat center center;
            }
            .third_type_img {
                width: 22px;
                height: 20px;
                position: relative;
                top: 1px;
            }
        }
        .fourth_type {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position: absolute;
            right: -86px;
            bottom: 0px;
        }
    }
    .admin_all_messages {
        display: inline-block;
        float: left;
        margin-left: 120px;
        div {
            display: inline-block;
            float: left;
            background: $main_color;
            border: 1px solid $main_color;
            color: $header_and_buttons_text;
            font-size: 16px;
            height: 40px;
        }
        .fa-caret-left, .fa-caret-right {
            font-size: 28px;
            line-height: 36px;
        }
        .fa-caret-left {
            padding-left: 15px; 
        }
        .fa-caret-right {
            padding-left: 17px;
        }
        .prev_page {
            width: 45px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 1px solid $more_dark_main_color; 
            &:hover {
                background: $more_dark_main_color;
                border: 1px solid $more_dark_main_color;
            }
        }
        .text_all_messages {
            span {
                line-height: 33px;
                margin: 0px 20px;
            }
        }
        .next_page {
            width: 45px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: 1px solid $more_dark_main_color; 
            &:hover {
                background: $more_dark_main_color;
                border: 1px solid $more_dark_main_color;
            }   
        }
    }
    .pagination {
        li {
            a {
                border: 1px solid grey;
                background: $progress_bar_backgr;
                color: grey;
                &:hover,
                &:focus {
                    color: #fff;
                    background: $main_color;
                    border: 1px solid grey;
                }
            }
        }
        .prev, .next {
            background: $progress_bar_backgr;
            &:hover {
                background: $main_color;
            }
        }
        .prev {
            margin-right: 4px;
        }
        .next {
            margin-left: 4px;
        }   
    }
}
.page_clicked {
    color: red;
}
.two_numbers_page {
    right: 1px;
}
