.switch {
    @include user_select();              
    .navig_title {
        margin-left: 0px;
    }
    .admin_round_onoffswitch {
        float: left;
        position: relative;
        width: 80px;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid $switch_backgr;
        border-radius: 18px;
    }
    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 28px;
        padding: 0;
        line-height: 28px;
        font-size: 16px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 17px;
        background-color: $switch_backgr;
        color: $main_color;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 14px;
        background-color: $switch_backgr;
        color: #fff;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block;
        width: 28px;
        margin: 2px;
        background: $footer;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 48px;
        border: 2px solid $switch_backgr;
        border-radius: 18px;
        @include transition(all, 0.3s, ease-in, 0s); 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
        background-color: $main_color; 
    }
}
.admin_square_onoffswitch {
    @extend .admin_round_onoffswitch;
    margin-left: 20px;
    .onoffswitch-inner:before {
        content: url(../image/checked.png);
    }
    .onoffswitch-inner:after {
        content: url(../image/unchecked.png);
    }
    .onoffswitch-switch {
        padding: 0px;
        margin: 0px;
        height: 100%;
        border-radius: 6px 0px 0px 6px;
        left: -3px;
        width: 32px;
        border: 1px solid $switch_backgr !important;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        padding: 0px;
        margin: 0px;
        height: 100%;
        left: 44px;
        right: 0px; 
        border-radius: 0px 6px 6px 0px;
        border: 1px solid $main_color;
    }
    .onoffswitch-label {
        border-radius: 6px;
        width: 78px;
        position: absolute;
    }
}