.admin_text_boxes {
    float: left;
    .navig_title {
         margin-left: 0;
    }
    .text_box {
        width: 285px;
        font-size: 14px;
        line-height: 18px;
        color: $main_part_title;
        text-align: left;
        a, a:hover, a:focus, a:active {
            color: $main_color;
            text-decoration: underline;
        }
        p {
            margin-bottom: 5px;
        }
    }
}