.admin_tooltips {
    float: left;
    .navig_title {
        margin: 0px 0px 35px 0px;
        display: inline-block;
        float: left;
    }
    clear: both;
    .admin_tooltip1 {
        clear: both;
        @include tooltip(-9px);
    }
    .admin_tooltip2 {
        clear: both;
        display: block;
        @include tooltip(74px);
        margin-top: 30px;
    }
}
