$font: 'Roboto', sans-serif;
$background_color: #ecf0f1;
$main_color: #3498db;
$more_dark_main_color: #2980b9;
$header_and_buttons_text: #fff;
$navbar_text: #686868;
$main_part_title: #666;
$to_add_item_text: #3d4a5d;
$nav_lines: #e6e6e6;
$footer: #7f8c8d;
$shadow: #c9c9c9;
$progress_bar_backgr: #d7dbdd;
$alert_input_color: #e74c3c;
$disabled_input_backgr: #dfe2e4;
$disabled_input_color: #d7dee2;
$slider_circle: #2980b9;
$switch_backgr: #bdc2c5;
$popup: #c2c5ca;
$button_on_hover: #79aee8;